section{
    height: 500px;
}
#name{
    color:#e97a7a;
}
#font{
    font-family: 'Oswald', sans-serif;
}

.first{
    width:40%;
    float:left;
}

.first img{
    width:60%;
}

.secound{
    width:40%;
    float:left;
}
.secound img{
    width:60%;
}

.fl{
    text-decoration: none;
    background-image: linear-gradient(lightsalmon,tomato);
    color:white;
    margin:2px 2px;
    padding:4px;
    border-radius: 5px;
}


#task{
    background-color: lightgray;
    text-align: center;
    margin:50px;

}


#llas{
    color:#e97a7a;
}
.project{
    background-color: white;
    width:30%;
    float:left;
    padding:2px;
    margin:2px 2px;
    margin-right: 4px;;
}
.project img{
    width:70%;
}