section{
    height: 500px;
}
#name{
    color:#e97a7a;
}
#font{
    font-family: 'Oswald', sans-serif;
}

.first{
    width:40%;
    float:left;
}

.first img{
    width:60%;
}

.secound{
    width:40%;
    float:left;
}
.secound img{
    width:60%;
}

.fl{
    text-decoration: none;
    background-image: linear-gradient(lightsalmon,tomato);
    color:white;
    margin:2px 2px;
    padding:4px;
    border-radius: 5px;
}


#task{
    background-color: lightgray;
    text-align: center;
    margin:50px;
}


#llas{
    color:#e97a7a;
}
.project{
    background-color: white;
    width:30%;
    float:left;
    height:70%;
    padding:10px 10px;
    margin:5px;
    border-radius: 10px 10px;
   
    
}
.project img{
    width:70%;
}
#www{
    color:white;
}
#problem{
    width:90%;
    height:90%;
    margin:2% 3.5%;
    padding:2%;

}




